* {
  margin: 0;
  height: auto;
  width: auto;
  /* scrollbar-width: none; */
  font-family: Arial, Helvetica, sans-serif;
}
.main {
  background-color: #d8f4d8;
  /* display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: 10vh 1fr 73vh; */
}
.list-item {
  display: none;
}
.mobile-box{
  display: none;
}
.cart {
  display: none;
}
/****************Header****************/
.header {
  height: 10vh;
  background-color: #a4e4a4;
  display: grid;
  grid-template-columns: 20vw 40vw 40vw;
  grid-template-rows: 1fr;
  position: sticky;
  top: 0;
  box-shadow: 0 2px 10px black;
  z-index: 3;
}
.logo {
  /* background-color: blue; */
}
.mylogo {
  height: 70px;
  width: 9vw;
  background-image: url(Images/main_logo.jpg);
  background-size: cover;
  border-radius: 50px;
  cursor: pointer;
}
.search {
  display: flex;
  align-items: center;
}
.list {
  /* background-color: red; */
  display: flex;
  justify-content: end;
  align-items: center;
  margin-right: 2vw;
}
.bar {
  display: none;
}
.icon {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 37px;
  width: 32px;
  background-color: #e4fce4;
  color: #1a4c21;
  border: 3px solid rgb(147, 176, 136);
  border-right: none;
  border-top-left-radius: 10px;
  border-bottom-left-radius: 10px;
}
.input {
  height: 35px;
  width: 40vw;
  background-color: #e4fce4;
  border-top-right-radius: 10px;
  border-bottom-right-radius: 10px;
  border: 3px solid rgb(147, 176, 136);
  border-left: none;
}
.input:focus {
  outline: none;
}
.but {
  height: 40px;
  padding: 0 20px;
  background-color: #1a4c21;
  text-decoration: none;
  margin-left: 1vw;
  border-radius: 10px;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  color: rgb(255, 244, 225);
  font-size: 17px;
}
.l-icon {
  margin-right: 0.5vw;
}
.but:hover {
  background-color: #528c5a;
}
.but:active {
  background-color: #1a4c21;
}
/****************Content****************/
.content {
  background-color: #d8f4d8;
  height: auto;
  width: auto;
}
.banar {
  height: 50vh;
  width: 96%;
  margin: 4vh 2%;
  background-color: rgb(159, 159, 233);
  border-radius: 20px;
  position: relative;
  overflow: hidden;
}
.ban1 {
  height: 100%;
  width: 100%;
  background-image: url(Images/Banar_veggies.jpeg);
  background-size: cover;
  background-position: center center;
  position: absolute;
  z-index: 2;
  animation: bannar;
  animation-duration: 10s;
  animation-iteration-count: infinite;
}
.ban2 {
  height: 100%;
  width: 100%;
  background-image: url(Images/Banner_spices.jpeg);
  background-size: cover;
  background-position: center center;
  position: absolute;
  z-index: 1;
  left: -100%;
  animation: bannars;
  animation-duration: 10s;
  animation-iteration-count: infinite;
}
@keyframes bannar {
  0% {
    top: 0;
    left: 0;
  }
  50% {
    top: 0;
    left: 100%;
  }
  100% {
    top: 0;
    left: 0;
  }
}
@keyframes bannars {
  0% {
    top: 0;
    left: -100%;
  }
  50% {
    top: 0;
    left: 0;
  }
  100% {
    top: 0;
    left: -100%;
  }
}
.list-product {
  width: 96%;
  height: 40vh;
  margin: 0 2%;
  border-radius: 20px;
  display: grid;
  justify-content: center;
  grid-template-rows: 1fr;
  grid-template-columns: repeat(5, 1fr);
  gap: 0 4vw;
}
.list1,
.list2,
.list3,
.list4,
.list5 {
  /* background-color: red; */
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: 32vh 8vh;
}
.list-text {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  font-size: 25px;
  font-weight: 500;
  text-transform: uppercase;
  font-family: cursive;
  color: #0a3910;
}
.veg {
  background-color: yellow;
  background-image: url(Images/vegitables.jpeg);
  background-size: cover;
  background-position: center;
  border: 3px solid rgb(39, 121, 9);
  border-radius: 50%;
}
.fruits {
  background-color: rgb(255, 32, 69);
  background-image: url(Images/fruits.jpeg);
  background-size: cover;
  background-position: center;
  border: 3px solid rgb(39, 121, 9);
  border-radius: 50%;
}
.dry-fruits {
  background-color: greenyellow;
  background-image: url(Images/Dry-fruits.jpeg);
  background-size: cover;
  background-position: center;
  border: 3px solid rgb(39, 121, 9);
  border-radius: 50%;
}
.spices {
  background-color: violet;
  background-image: url(Images/Solid-spices.jpeg);
  background-size: cover;
  background-position: center;
  border: 3px solid rgb(39, 121, 9);
  border-radius: 50%;
}
.powder-spices {
  background-color: blueviolet;
  background-image: url(Images/Powder-spices.jpeg);
  background-size: cover;
  background-position: center;
  border: 3px solid rgb(39, 121, 9);
  border-radius: 50%;
}
.box1 {
  height: 70vh;
  width: 94%;
  margin: 0 3%;
  margin-top: 5vh;
  background-color: #a4e4a4;
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: 10vh 60vh;
  border-radius: 10px;
}
.head-box {
  width: 94%;
  margin-left: 3%;
  margin-right: 3%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  font-size: 20px;
}
.left {
  padding: 10px;
  background-color: #d8f4d8;
  margin-right: 15px;
  border-radius: 10px;
  cursor: not-allowed;
}
.right {
  padding: 10px;
  background-color: #1a4c21;
  color: #afe1af;
  border-radius: 10px;
  box-shadow: 3px 2px 10px black;
  cursor: pointer;
}
.row1 {
  height: 55vh;
  width: 94%;
  margin-left: 3%;
  margin-right: 3%;
  border-radius: 10px;
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  grid-template-rows: 1fr;
  gap: 0 1vw;
}
.pro1,
.pro2,
.pro3,
.pro4,
.pro5 {
  background-color: #d8f4d8;
  border-radius: 5px;
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: 31vh 8vh 8vh 8vh;
  /* box-shadow: 2px 2px 10px black; */
}
.pro1:hover,
.pro2:hover,
.pro3:hover,
.pro4:hover,
.pro5:hover {
  box-shadow: 2px 2px 10px black;
  transform: scale(1.1);
}
.pro1-img,
.pro2-img,
.pro3-img,
.pro4-img,
.pro5-img {
  /* background-color: yellow; */
  margin: 10px;
  border: 1px solid rgb(156, 156, 156);
  border-radius: 5px;
}
.img1,
.img2,
.img3,
.img4,
.img5,
.img6,
.img7,
.img8,
.img9,
.img10,
.img11,
.img12,
.img13,
.img14,
.img15,
.img16,
.img17,
.img18,
.img19,
.img20,
.img21,
.img22,
.img23,
.img24,
.img25 {
  height: 90%;
  width: 90%;
  margin: 5% 5%;
  background-size: cover;
  background-position: center;
  border-radius: 5px;
}
.img1 {
  background-image: url(Images/Vegetables/Carrot.jpeg);
}
.img2 {
  background-image: url(Images/Vegetables/capsicum-green.jpeg);
}
.img3 {
  background-image: url(Images/Vegetables/Beetroot.jpeg);
}
.img4 {
  background-image: url(Images/Vegetables/Cauliflower.jpeg);
}
.img5 {
  background-image: url(Images/Vegetables/Cabbage.jpeg);
}
.img6 {
  background-image: url(Images/Fruits/Apple-red.jpeg);
}
.img7 {
  background-image: url(Images/Fruits/Oranges.jpeg);
}
.img8 {
  background-image: url(Images/Fruits/Grapes-green.jpeg);
}
.img9 {
  background-image: url(Images/Fruits/Pineapple.jpeg);
}
.img10 {
  background-image: url(Images/Fruits/Mango.jpeg);
}
.img11 {
  background-image: url(Images/Dry-Fruits/Almonds.jpeg);
}
.img12 {
  background-image: url(Images/Dry-Fruits/Cashews.jpeg);
}
.img13 {
  background-image: url(Images/Dry-Fruits/Dates.jpeg);
}
.img14 {
  background-image: url(Images/Dry-Fruits/Pistachios.jpeg);
}
.img15 {
  background-image: url(Images/Dry-Fruits/Walnuts.jpeg);
}
.img16 {
  background-image: url(Images/Spices/Dry_chilli.jpeg);
}
.img17 {
  background-image: url(Images/Spices/Coriander.jpeg);
}
.img18 {
  background-image: url(Images/Spices/Turmeric.jpeg);
}
.img19 {
  background-image: url(Images/Spices/Black_pepper.jpeg);
}
.img20 {
  background-image: url(Images/Spices/Saffron.jpeg);
}
.img21 {
  background-image: url(Images/Powder-spices/Turmeric-powder.jpeg);
}
.img22 {
  background-image: url(Images/Powder-spices/Black-pepper-powder.jpeg);
}
.img23 {
  background-image: url(Images/Powder-spices/Chili-powder.jpeg);
}
.img24 {
  background-image: url(Images/Powder-spices/Garam-powder.jpeg);
}
.img25 {
  background-image: url(Images/Powder-spices/Coriander-powder.jpeg);
}
.pro-title {
  /* background-color: yellowgreen; */
  width: 90%;
  margin: 0 5%;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
}
.sub-head {
  color: rgb(111, 111, 111);
  font-size: 16px;
}
.main-head {
  font-size: 18px;
}
.pro-prize {
  /* background-color: green; */
  width: 90%;
  margin: 0 5%;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
}
select {
  width: 100%;
  height: 25px;
  border-radius: 5px;
}
.prize {
  display: flex;
}
.prize del {
  font-size: 12px;
  display: flex;
  align-items: center;
  margin-left: 5px;
  color: rgb(111, 111, 111);
}
.pro-book {
  /* background-color: greenyellow; */
  width: 90%;
  margin: 0 5%;
  display: flex;
  align-items: center;
}
.book-icon {
  height: 30px;
  width: 35px;
  border: 1px solid black;
  margin-right: 10px;
  border-radius: 5px;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
}
.book-icon:hover {
  color: rgb(251, 239, 217);
  background-color: black;
}
.add {
  width: 100%;
  height: 33px;
  border-radius: 5px;
  border: 1px solid red;
 background-color: #d8f4d8;
  color: red;
  font-size: 15px;
  cursor: pointer;
}
.add:hover {
  color: rgb(251, 239, 217);
  background-color: red;
}
.offer-ban {
  height: 36vh;
  width: 94%;
  margin-left: 3%;
  margin-right: 3%;
  margin-top: 5vh;
  /* background-color: antiquewhite; */
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: 1fr;
  gap: 0 2vh;
}
.off-ban1,
.off-ban2,
.off-ban3 {
  background-color: #a4e4a4;
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: 30vh 6vh;
  border-radius: 10px;
  cursor: pointer;
}
.off-img1,
.off-img2,
.off-img3 {
  background-size: cover;
  background-position: center;
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
}
.off-img1 {
  background-image: url(Images/off-ban1.jpeg);
}
.off-img2 {
  background-image: url(Images/off-ban2.jpeg);
}
.off-img3 {
  background-image: url(Images/off-ban3.jpeg);
}
.off-text {
  /* background-color: blue; */
  width: 90%;
  margin: 0 5%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  text-transform: uppercase;
  font-size: 18px;
  font-weight: 600;
  color: #1a4c21;
}
marquee{
  width: 90%;
  margin-left: 5%;
  margin-right: 5%;
}
.show {
  width: 90%;
  padding: 0 2%;
  margin-left: 3%;
  margin-right: 3%;
  margin-top: 5vh;
  height: 7vh;
  border-radius: 10px;
  background-color: #a4e4a4;
  display: flex;
  align-items: center;
  font-weight: 600;
}
.show p {
  font-size: 18px;
  text-transform: uppercase;
  font-family: "Times New Roman", Times, serif;
  color: #0a3910;
}
.show span {
  font-family: "Times New Roman", Times, serif;
  color: red;
}
.show {
  text-decoration: underline 2px red;
  animation-name: show;
  animation-duration: 2s;
  animation-iteration-count: infinite;
}
.final-ban {
  /* background-color: red; */
  width: 94%;
  margin: 0 3%;
  height: 40vh;
  display: flex;
  justify-content: center;
}
.final-img1 {
  background-image: url(Images/final-ban.jpg);
  background-position: center;
  background-size: cover;
  height: 40vh;
  width: 40%;
}
.e-comes {
  height: 15vh;
  width: 94%;
  margin: 0 3%;
  /* background-color: #157322; */
  display: grid;
  grid-template-rows: 1fr;
  grid-template-columns: repeat(6, 1fr);
  margin-bottom: 5vh;
}
.e1 {
  height: 15vh;
  width: 100%;
  background-image: url(Images/Logos/amazon-circle.png);
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
  filter: grayscale(100%);
}
.e2 {
  height: 15vh;
  width: 100%;
  background-image: url(Images/Logos/walmart.png);
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
  filter: grayscale(100%);
}
.e3 {
  height: 15vh;
  width: 100%;
  background-image: url(Images/Logos/bigbasket.png);
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
  filter: grayscale(100%);
}
.e4 {
  height: 15vh;
  width: 100%;
  background-image: url(Images/Logos/shopify.png);
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
  filter: grayscale(100%);
}
.e5 {
  height: 15vh;
  width: 100%;
  background-image: url(Images/Logos/blinkit.png);
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
  filter: grayscale(100%);
}
.e6 {
  height: 15vh;
  width: 100%;
  background-image: url(Images/Logos/flipkart.png);
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
  filter: grayscale(100%);
}
.e1:hover,
.e2:hover,
.e3:hover,
.e4:hover,
.e5:hover,
.e6:hover {
  cursor: pointer;
}
@keyframes show {
  0% {
    text-decoration: none;
  }
  50% {
    text-decoration: underline 2px red;
  }
  100% {
    text-decoration: none;
  }
}
/****************Footer****************/
.fotter {
  box-shadow: 0 1px 10px black;
  background-color: #a4e4a4;
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: 70vh 3vh;
}
.fotter-cont {
  display: grid;
  grid-template-rows: 30vh 30vh 10vh;
  grid-template-columns: repeat(4, 1fr);
}
.securepay,
.trustpay,
.help,
.app {
  height: 30vh;
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: 15vh 5vh 10vh;
}
.footlog {
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 45px;
  color: #0a3910;
}
.foothead {
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 20px;
  font-weight: bold;
  text-transform: uppercase;
  color: rgb(210, 95, 0);
}
.foottext {
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  width: 70%;
  margin: 0 15%;
  font-size: 15px;
  color: #0a3910;
}
.securepay {
  border-right: 2px solid #57935f;
  border-bottom: 2px solid #57935f;
}
.trustpay {
  border-right: 2px solid #57935f;
  border-bottom: 2px solid #57935f;
}
.help {
  border-right: 2px solid #57935f;
  border-bottom: 2px solid #57935f;
}
.app {
  border-bottom: 2px solid #57935f;
}
.info,
.company,
.business,
.applogo {
  height: 30vh;
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: 7vh 23vh;
}
.foot-title {
  display: flex;
  justify-content: center;
  align-items: center;
  text-transform: uppercase;
  font-size: 16px;
  font-weight: bold;
  color: rgb(210, 95, 0);
  /* text-decoration: underline 1px black; */
}
.foot-cont {
  display: flex;
  flex-direction: column;
  align-items: center;
  font-size: 13px;
  line-height: 21px;
}
.foot-cont a {
  text-decoration: none;
  color: #0a3910;
}
.foot-cont a:hover {
  text-decoration: underline;
}
.info {
  /* background-color: rgb(130, 130, 238); */
}
.company {
  /* background-color: rgb(139, 238, 130); */
}
.business {
  /* background-color: rgb(22, 113, 34); */
}
.applogo {
  /* background-color: rgb(124, 100, 26); */
}
.foot-play {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 94%;
  height: 94%;
  margin: 0 3%;
}
.foot-img {
  height: 100%;
  width: 100%;
  background-image: url(Images/Logos/google.png);
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
  cursor: pointer;
}
.payment {
  grid-column: 1/3;
  display: grid;
  grid-template-rows: 3vh 7vh;
}
.social {
  grid-column: 3/5;
  display: grid;
  grid-template-rows: 3vh 7vh;
}
.logtitle {
  width: 85%;
  margin: 0 7.5%;
  font-size: 18px;
  color: rgb(210, 95, 0);
}
.logs {
  width: 85%;
  margin: 0 7.5%;
  display: flex;
  align-items: center;
  font-size: 30px;
}
.logs i {
  margin-right: 10px;
  color: #0a3910;
  cursor: pointer;
}
.cashon {
  margin-right: 10px;
  height: 26px;
  /* width: 50px; */
  border: 2px solid #0a3910;
  border-radius: 4px;
  display: grid;
  grid-template-columns: 10px 40px;
  grid-template-rows: 13px;
}
.neton {
  margin-right: 10px;
  height: 26px;
  /* width: 60px; */
  padding: 0 10px;
  border: 2px solid #0a3910;
  border-radius: 4px;
  display: grid;
  grid-template-columns: 20px 20px;
  grid-template-rows: 13px;
}
.cash1 {
  font-size: 9px;
  display: flex;
  align-items: flex-end;
  justify-content: center;
}
.cash2 {
  font-size: 9px;
  display: flex;
  align-items: flex-start;
  justify-content: center;
}
.symbol {
  grid-row: 1/3;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 15px;
}
.copyright {
  background-color: rgb(7, 78, 12);
  color: #afe1af;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 15px;
}
.copyright i {
  margin: 0 0.5vw;
}

/*Mobile View*/
@media only screen and (min-width: 320px) and (max-width: 480px) {
  .main {
    /* grid-template-rows: 10vh 15vh 1180vh 40vh; */
    /* background-color: rgb(167, 149, 117); */
    height: auto;
    width: auto;
    background-color: #d8f4d8;
  }
  .header {
    height: 10vh;
    grid-template-columns: 25vw 62vw 13vw;
    grid-template-rows: 10vh;
    position: sticky;
    top: 0;
  }
  .cart {
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 23px;
  }
  .cart a {
    text-decoration: none;
    color: #1a4c21;
  }
  .mylogo {
    margin-top: 1vh;
    height: 50px;
    width: 20vw;
  }
  .input {
    width: 60vw;
    height: 30px;
  }
  .icon {
    height: 32px;
  }
  .banar {
    height: 25vh;
    margin: 1vh 2%;
  }
  .list {
    display: none;
  }
  .mobile-box{
    display: flex;
    align-items: center;
    background-color: #a4e4a4;
    height: 15vh;
    width: 100%;
  }
  .list-item {
    display: block;
    /* margin-top: 1vh; */
    background-color: #a4e4a4;
    width: 100%;
  }
  .but {
    height: 30px;
    border-radius: 5px;
    padding: 0;
    width: 98%;
    margin-top: 1vh;
    justify-content: center;
  }
  .l-icon {
    display: none;
  }
  /*mobile content*/
  .content{
    background-color: #d8f4d8;
    height: 1fr;
  }
  .list-product {
    /* width: 90%;
    margin: 0 5%; */
    height: 8vh;
    margin-top: 2vh;
    display: grid;
    justify-content: center;
    grid-template-rows: 1fr;
    grid-template-columns: repeat(5, 1fr);
    gap: 1vh 2vw;
  }
  .list1,
  .list2,
  .list3,
  .list4,
  .list5 {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 10vh;
  }
  /* .list5{
    grid-column: 1/3;
    margin: 0 25%;
  } */
  .list-text {
    font-size: 12px;
    font-weight: 500;
    display: none;
  }
  .veg,
  .fruits,
  .spices,
  .dry-fruits,
  .powder-spices {
    border-radius: 10px;
    border: 2px solid #0a3910;
  }
  .box1 {
    height: 267vh;
    width: 94%;
    margin-left: 3%;
    margin-right: 3%;
    background-color: #a4e4a4;
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 10vh 53vh;
    border-radius: 10px;
  }
  .head-box {
    width: 74%;
    margin: 0 13%;
    font-size: 18px;
    text-decoration: underline rgb(255, 122, 27) 2px;
  }
  .arow {
    display: none;
  }
  .row1 {
    /* height: 59vh; */
    width: 94%;
    margin-left: 3%;
    margin-right: 3%;
    border-radius: 10px;
    display: grid;
    grid-template-columns: repeat(1, 1fr);
    grid-template-rows: repeat(5, 1fr);
    gap: 0 1vw;
  }
  .pro1,
  .pro2,
  .pro3,
  .pro4,
  .pro5 {
   background-color: #d8f4d8;
    width: 80%;
    margin: 0 10%;
    border-radius: 5px;
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 35vh 8vh 8vh 8vh;
    margin-bottom: 5vh;
  }
  .pro5 {
    display: none;
  }
  .pro1-img,
  .pro2-img,
  .pro3-img,
  .pro4-img,
  .pro5-img {
    display: flex;
    align-items: center;
    justify-content: center;
  }
  .img1,
  .img2,
  .img3,
  .img4,
  .img5,
  .img6,
  .img7,
  .img8,
  .img9,
  .img10 {
    height: 90%;
    width: 90%;
  }
  .new {
    display: none;
  }
  .sub-head {
    color: rgb(111, 111, 111);
    font-size: 14px;
  }
  .main-head {
    font-size: 16px;
  }
  .pro-prize {
    width: 90%;
    margin: 0 5%;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
  }
  select {
    width: 100%;
    height: 23px;
    border-radius: 5px;
  }
  .prize {
    display: flex;
  }
  .prize p {
    font-size: 14px;
  }
  .prize del {
    font-size: 11px;
    display: flex;
    align-items: center;
    margin-left: 5px;
    color: rgb(111, 111, 111);
  }
  .offer-ban {
    height: 36vh;
    width: 94%;
    margin-left: 3%;
    margin-right: 3%;
    margin-top: 3vh;
    /* background-color: antiquewhite; */
    display: grid;
    grid-template-columns: repeat(1, 1fr);
    grid-template-rows: 1fr;
    gap: 0 2vh;
  }
  .off-ban1,
  .off-ban3 {
    display: none;
  }
  .show p {
    font-size: 15px;
  }
  .final-ban {
    width: 94%;
    margin: 0 3%;
    /* display: none; */
  }
  .final-img1 {
    background-image: url(Images/final-ban.jpg);
    background-position: center;
    background-size: contain;
    background-repeat: no-repeat;
    width: 100%;
  }
  .e-comes {
    height: 30vh;
    width: 94%;
    margin: 0 3%;
    display: grid;
    grid-template-rows: repeat(2,1fr);
    grid-template-columns: repeat(3, 1fr);
    /* gap: 1vh 2vw; */
  }
  .e1 {
    height: 7vh;
    background-image: url(Images/Logos/amazon-circle.png);
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
    filter: grayscale(100%);
  }
  .e2 {
    height: 7vh;
    width: 100%;
    background-image: url(Images/Logos/walmart.png);
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
    filter: grayscale(100%);
  }
  .e3 {
    height: 7vh;
    width: 100%;
    background-image: url(Images/Logos/bigbasket.png);
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
    filter: grayscale(100%);
  }
  .e4 {
    height: 7vh;
    width: 100%;
    background-image: url(Images/Logos/shopify.png);
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
    filter: grayscale(100%);
  }
  .e5 {
    height: 7vh;
    width: 100%;
    background-image: url(Images/Logos/blinkit.png);
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
    filter: grayscale(100%);
  }
  .e6 {
    height: 7vh;
    width: 100%;
    background-image: url(Images/Logos/flipkart.png);
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
    filter: grayscale(100%);
  }
  /****************Mobile-Footer****************/
.fotter {
  box-shadow: 0 1px 10px black;
  background-color: #a4e4a4;
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: auto 3vh;
}
.fotter-cont {
  display: grid;
  grid-template-rows: repeat(8,auto) repeat(2,10vh);
  grid-template-columns: repeat(2, 1fr);
}
.securepay,
.trustpay,
.help,
.app {
  height: 25vh;
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: 10vh 5vh 10vh;
}
.footlog {
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 35px;
  color: #0a3910;
}
.foothead {
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 18px;
  font-weight: bold;
  text-transform: uppercase;
  color: rgb(210, 95, 0);
}
.foottext {
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  width: 70%;
  margin: 0 15%;
  font-size: 14px;
  color: #0a3910;
}
.securepay {
  border: none;
  grid-column: 1/3;
  border-bottom: 2px solid #57935f;
}
.trustpay {
  border: none;
  grid-column: 1/3;
  border-bottom: 2px solid #57935f;
}
.help {
  border: none;
  grid-column: 1/3;
  border-bottom: 2px solid #57935f;
}
.app {
  border: none;
  grid-column: 1/3;
  border-bottom: 2px solid #57935f;
}
.info,
.company,
.business {
  height: auto;
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: 7vh 1fr;
  grid-column: 1/3;
  /* border-bottom: 2px solid #57935f; */
}
.applogo {
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: 7vh 1fr;
  grid-column: 1/3;
  border-top: 2px solid #57935f;
  border-bottom: 2px solid #57935f;
}
.foot-title {
  display: flex;
  justify-content: center;
  align-items: center;
  text-transform: uppercase;
  font-size: 14px;
  font-weight: bold;
  color: rgb(210, 95, 0);
  /* text-decoration: underline 1px black; */
}
.foot-cont {
  display: flex;
  flex-direction: column;
  align-items: center;
  font-size: 12px;
  line-height: 21px;
}
.foot-cont a {
  text-decoration: none;
  color: #0a3910;
}
.foot-cont a:hover {
  text-decoration: underline;
}
.info {
  /* background-color: rgb(130, 130, 238); */
}
.company {
  /* background-color: rgb(139, 238, 130); */
}
.business {
  /* background-color: rgb(22, 113, 34); */
}
.applogo {
  /* background-color: rgb(124, 100, 26); */
}
.foot-play {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 94%;
  height: 94%;
  margin: 0 3%;
}
.foot-img {
  height: 100%;
  width: 100%;
  background-image: url(Images/Logos/google.png);
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
  cursor: pointer;
}
.payment {
  grid-column: 1/3;
  display: grid;
  grid-template-rows: 3vh 7vh;
}
.social {
  grid-column: 1/3;
  display: grid;
  grid-template-rows: 3vh 7vh;
}
.logtitle {
  width: 85%;
  margin: 0 7.5%;
  font-size: 15px;
  color: rgb(210, 95, 0);
  display: flex;
  align-content: center;
  justify-content: center;
}
.logs {
  width: 85%;
  margin: 0 7.5%;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 25px;
}
.logs i {
  margin-right: 10px;
  color: #0a3910;
  cursor: pointer;
}
.cashon {
  display: none;
}
.neton {
  display: none;
}
.cash1 {
  font-size: 9px;
  display: flex;
  align-items: flex-end;
  justify-content: center;
}
.cash2 {
  font-size: 9px;
  display: flex;
  align-items: flex-start;
  justify-content: center;
}
.symbol {
  grid-row: 1/3;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 15px;
}
.copyright {
  height: 3vh;
  background-color: rgb(7, 78, 12);
  color: #afe1af;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 11px;
}
.copyright i {
  margin: 0 0.5vw;
}
}

/*Tablet view*/
@media only screen and (min-width: 481px) and (max-width: 768px) {
  /*Tablet View header*/
  .header {
    grid-template-columns: 12vw 30vw 58vw;
    grid-template-rows: 10vh;
  }
  .mylogo {
    height: 60px;
    width: 10vw;
  }
  .icon {
    height: 32px;
    padding-left: 1vw;
  }
  .input {
    height: 30px;
    padding-left: 1vw;
  }
  .but {
    height: 35px;
  }
  .banar {
    height: 30vh;
  }
  .list-product {
    width: 96%;
    height: 30vh;
    margin: 0 2%;
    display: grid;
    justify-content: center;
    grid-template-rows: 1fr;
    grid-template-columns: repeat(5, 1fr);
    gap: 0 2vw;
  }
  .list1,
  .list2,
  .list3,
  .list4,
  .list5 {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 20vh 10vh;
  }
  .list-text {
    font-size: 17px;
    font-weight: 500;
  }
  /*Tablet content*/
  .box1 {
    height: 63vh;
    width: 94%;
    margin-left: 3%;
    margin-right: 3%;
    margin-top: 5vh;
    background-color: #a4e4a4;
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 10vh 53vh;
    border-radius: 10px;
  }
  .row1 {
    height: 49vh;
    width: 94%;
    margin-left: 3%;
    margin-right: 3%;
    border-radius: 10px;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: 1fr;
    gap: 0 1vw;
  }
  .pro5 {
    display: none;
  }
  .pro1,
  .pro2,
  .pro3,
  .pro4 {
   background-color: #d8f4d8;
    border-radius: 5px;
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 25vh 8vh 8vh 8vh;
  }
  .sub-head {
    color: rgb(111, 111, 111);
    font-size: 14px;
  }
  .main-head {
    font-size: 16px;
  }
  .pro-prize {
    width: 90%;
    margin: 0 5%;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
  }
  select {
    width: 100%;
    height: 23px;
    border-radius: 5px;
  }
  .prize {
    display: flex;
  }
  .prize p {
    font-size: 14px;
  }
  .prize del {
    font-size: 11px;
    display: flex;
    align-items: center;
    margin-left: 5px;
    color: rgb(111, 111, 111);
  }
  .e-comes {
    height: 10vh;
    width: 94%;
    margin: 0 3%;
    margin-bottom: 5vh;
  }
  .e1{
    height: 10vh;
  }
  .e2{
    height: 10vh;
  }
  .e3{
    height: 10vh;
  }
  .e4{
    height: 10vh;
  }
  .e5{
    height: 10vh;
  }
  .e6{
    height: 10vh;
  }
   /*Tablet Fotter*/

   .fotter {
    box-shadow: 0 1px 10px black;
    background-color: #a4e4a4;
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: auto 3vh;
  }
  .fotter-cont {
    display: grid;
    grid-template-rows: repeat(3, auto) repeat(2, auto);
    grid-template-columns: repeat(4, 1fr);
  }
  .footlog {
    font-size: 43px;
  }
  .foothead {
    font-size: 19px;
  }
  .securepay {
    grid-column: 1/3;
  }
  .trustpay {
    grid-column: 3/5;
  }
  .help {
    grid-column: 1/3;
  }
  .app {
    grid-column: 3/5;
  }
  .info {
    margin-top: 2vh;
    grid-column: 1/3;
  }
  .company {
    margin-top: 2vh;
    grid-column: 3/5;
  }
  .business {
    grid-column: 1/3;
  }
  .applogo {
    grid-column: 3/5;
  }
  .foot-play {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 94%;
    height: 94%;
    margin: 0 3%;
  }
  .payment {
    height: 14vh;
    grid-column: 1/5;
    display: grid;
    grid-template-rows: 7vh 7vh;
    border-top: 2px solid #57935f;
  }
  .social {
    height: 14vh;
    grid-column: 1/5;
    display: grid;
    grid-template-rows: 7vh 7vh;
  }
  .logtitle {
    width: 85%;
    margin: 0 7.5%;
    font-size: 18px;
    color: rgb(210, 95, 0);
    display: flex;
    align-items: center;
    justify-content: center;
  }
  .logs {
    width: 85%;
    margin: 0 7.5%;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 30px;
  }
  .copyright {
    font-size: 14px;
  }
}

/*small laptop*/
@media only screen and (min-width: 769px) and (max-width: 1200px) {
  /*Small laptop header*/
  .header {
    grid-template-columns: 12vw 43vw 45vw;
    grid-template-rows: 10vh;
  }
  .mylogo {
    height: 60px;
    width: 10vw;
  }
  .list-product {
    width: 96%;
    height: 35vh;
    margin: 0 2%;
    display: grid;
    justify-content: center;
    grid-template-rows: 1fr;
    grid-template-columns: repeat(5, 1fr);
    gap: 0 3vw;
  }
  .list1,
  .list2,
  .list3,
  .list4,
  .list5 {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 26vh 10vh;
  }
  .list-text {
    font-size: 22px;
    font-weight: 500;
  }
  .sub-head {
    color: rgb(111, 111, 111);
    font-size: 14px;
  }
  .main-head {
    font-size: 16px;
  }
  
  /*Small Laptop Fotter*/
  .foothead {
    font-size: 17px;
  }
}
